
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	width: 100%;
	height: 100%;
}
.menu ul{
	display: inline-flex;
	margin: 50px;
}
.menu ul li{
	list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
}
.active{
	color: #19dafa !important;
}
.signup{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#210D4D,#210D4D),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;
}
.signup span{
	display: block;
	padding: 8px 22px;
}
.banner{
	width: 80%;
	height: 70%;
	top: 25%;
	left: 130px;
	position: absolute;
	color: #fff;
}
.app-text{
	width: 50%;
	float: left;
}
.app-text h1{
	font-size: 43px;
	width: 640px;
	position: relative;
	margin-left: 0;
}
.app-text p{
	width: 650px;
	font-size: 17px;
	margin: 30px 0 30px 0;
	line-height: 25px;
	color: #919191
}
.app-picture{
	width: 50%;
	float: right;
}
.app-picture img{
	width: 100%;
	margin-top: -20px;
	padding-left: 50px;
}
.quick-links{
	left: 0;
	bottom: 0;
	position: absolute;
}
.quick-links ul{
	display: inline-flex;
	margin: 10px auto;
	text-align: center;
}
.quick-links ul li{
	list-style: none;
	margin: 0 50px;
	cursor: pointer
}
.quick-links ul li .fa{
	font-size: 25px;
	color: #fff;
}
.quick-links ul li .p{
	margin-top: 15px;
	font-size: 10px;
	color: #fff;
}